<footer>
  <div class="footer-top">
    <div class="row">
      <div class="col-md-4">
        <div class="flex-container">
          <div class="item">
            <i class="fa fa-question-circle fa-2x">
            </i></div>
          <h6>24/7</h6>
          <p>Hỗ trợ miễn phí</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-container">
          <div class="item">
            <i class="fa fa-money fa-2x">
            </i></div>
          <h6>100% HOÀN TIỀN</h6>
          <p>Bảo hành</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-container">
          <div class="item">
            <i class="fa fa-truck fa-2x">
            </i></div>
          <h6>MIỄN PHÍ SHIPPING</h6>
          <p>Toàn quốc</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-detail">
          <h6>VỀ CHÚNG TÔI</h6>
          <ul>
            <li><%= link_to "Giới thiệu", "#" %>
            </li>
            <li><%= link_to "Giao hàng - Đổi trả", "#" %>
            </li>
            <li><%= link_to "Chính sách bảo mật", "#" %>
            </li>
            <li><%= link_to "Liên hệ", "#" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-detail">
          <h6>TRỢ GIÚP</h6>
          <ul>
            <li><%= link_to "Hướng dẫn mua hàng", "#" %>
            </li>
            <li><%= link_to "Hướng dẫn thanh toán", "#" %>
            </li>
            <li><%= link_to "Tài khoản giao dịch", "#" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-detail">
          <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook-square fa-2x">
                </i><span>Facebook</span>
              </a></li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus-square fa-2x">
                </i><span>Google Plus</span>
              </a></li>
            <li>
              <a href="#">
                <i class="fa fa-twitter-square fa-2x">
                </i><span>Twitter</span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="col-md-6">
        <p class="center">Copyright ©  <%=  Date.current.year  %>  Shopppi.</p>
      </div>
      <div class="col-md-6 center">
        <i class="fa fa-cc-mastercard fa-2x mr-5">
        </i><i class="fa fa-cc-visa fa-2x">
        </i></div>
    </div>
  </div>
</footer>
